@use './colors' as *;

$ff: 'Poppins', sans-serif;

$fs-intro: clamp(2.25rem, 6.5vw, 5rem);
$fs-h1: clamp(2.25rem, 4.5vw, 3.375rem);
$fs-h2: clamp(2rem, 2.75vw, 2.25rem);
$fs-h3: clamp(1.25rem, 3vw, 2rem);
$fs-h4: clamp(1.25rem, 2vw, 1.75rem);
$fs-h5: clamp(1.25rem, 2.25vw, 1.5rem);
$fs-h6: clamp(1.125rem, 2vw, 1.25rem);
$fs-nav: clamp(1rem, 1vw, 1.125rem);
$fs-text: 15px;
$fs-accent: 1.25em;
$monospace: 'Inconsolata', monospace;

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 14px;
}

h1 {
  font-size: $fs-h1;
  font-weight: 700;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

h6 {
  font-size: $fs-h6;
}

.fs-text {
  font-size: $fs-text;
}

.accent {
  display: block;
  font-size: $fs-h6;
  margin-bottom: 20px;
  font-weight: 400;
}

.ft-accent {
  font-weight: 400;
  font-family: $monospace;

  &-primary {
    @extend .ft-accent;
    color: $clr-primary;
  }

  &-sm {
    @extend .ft-accent;
    font-size: $fs-h6;
  }

  &-md {
    @extend .ft-accent;
    font-size: $fs-h5;
  }
}

.tiny-info {
  font-size: 13px;
  /* max-width: 47ch; */
}

// @use './breakpoints';

// @each $screen-size, $font-size in $typography {
//     @if $screen-size == small {
//         @each $size, $value in $font-size {
//             $fs-#{$size}: #{$value};
//         } @else {
//             @include mq(small) {
//                 @each $size, $value in $font-size {
//                     $fs-#{$size}: #{$value};
//                 }
//             }
//         }
//     }
// }

// @each $font-size, $value in $screen-size {
//     $fs-#{$screen-size}-#{$font-size}: #{$value};
// }
